@import '../../styles/variables.scss';

.navbar {
    background:$dark;
    display: flex;
    align-items: center;

    .nav-item{
        margin-left: auto;
        color: $light;
        border-radius: $borderRadius;
        padding: 0 $spacing-md;
        text-decoration: none;
        font-size: 14px;
    }

    .active {
        background: $bg;
    }
}

h1 {
    color: $light;
    padding: 0 $spacing-md;
}