
@use '../product/components/components.scss';
@use '../product/pages/pages.scss';
@use '../ui/components/ui.scss';
@import './variables.scss';


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $Poppins;
    color: $dark;    
    background-color:$bg;
}

