@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

$Poppins: 'Poppins', sans-serif;

//colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #e1e0e0;
$bg: #f5f3f3;
$error: #d41010;

//spacing
$spacing-sm: 6px;
$spacing-md: 12px;
$spacing-lg: 24px;

//border-radius
$borderRadius: 12px;

//header height
$headerHeight: 100px;
