@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
form {
  display: flex;
  gap: 1rem;
  padding: 12px 0;
  border-bottom: 1px solid rgb(29, 29, 29);
  justify-content: flex-end;
  padding: 12px;
}
form div:first-child {
  border-right: 1px solid rgb(29, 29, 29);
}
form div {
  display: flex;
}
form div input[type=radio] {
  opacity: 0;
}
form div label {
  padding-right: 12px;
  margin-left: -24px;
}
form div input {
  margin: 0 12px;
}
form div label:hover {
  font-weight: bold;
}

.card {
  padding: 12px;
  background: #fff;
  margin: 6px 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  font-size: 12px;
  border: 1px solid #e1e0e0;
  background-color: #f5f3f3;
  color: rgb(29, 29, 29);
  margin: auto;
}
.card img {
  width: 160px;
  height: 212px;
}
.card div {
  margin: 0;
  border: 0;
  background: transparent;
}
.card div:hover {
  box-shadow: none;
}
.card h2 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.card-detail {
  background: #fff;
  padding: 12px;
  display: flex;
  font-size: 12px;
  background-color: #f5f3f3;
}
.card-detail img {
  display: block;
  width: 160px;
  height: 212px;
}
.card-detail div {
  padding: 0 12px;
  border: 0;
  background: transparent;
}
.card-detail .box2 {
  padding: 0 12px;
  border: 0;
  background: transparent;
  grid-column: 2/4;
}

Link {
  text-decoration: underline;
}
Link :hover {
  color: rgb(29, 29, 29);
  font-weight: bold;
}

.card:hover {
  cursor: pointer;
  background-color: #fff;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

span {
  font-weight: bold;
}

.border {
  border-bottom: 1px solid #e1e0e0;
}

.success {
  padding-top: 24px;
  display: none;
}

.error-msg {
  margin: 24px auto;
  width: 300px;
  text-align: center;
  border: 1px solid #fff;
  padding: 24px;
  border-radius: 5px;
  box-shadow: rgba(123, 122, 122, 0.35) 0px 5px 15px;
  transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
}
.error-msg .error-p {
  font-weight: bold;
  color: #d41010;
}
.error-msg button {
  background-color: #d41010;
  color: #fff;
  padding: 6px 12px;
  border: 0;
  border-radius: 5px;
  margin-top: 12px;
  cursor: pointer;
}

#error-msg.show {
  opacity: 1;
  display: block;
  height: auto;
  transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  display: block;
  position: relative;
  margin: 12px 0;
  margin-right: 24px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 1 !important;
  cursor: pointer;
  display: block;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #e1e0e0;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: rgb(29, 29, 29);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

@media (max-width: 700px) {
  .card-detail {
    flex-direction: column;
    margin: 0;
  }
  form {
    flex-direction: column;
  }
}/*# sourceMappingURL=components.css.map */